/*--------------------------------------------------------------
3.6 Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
	font-family: $primary-font;
	font-size: 100%;
	margin: 0;
	outline: 0;
	vertical-align: baseline;
}

::-webkit-input-placeholder { color: #999; }
::-moz-placeholder { color: #999; }
:-ms-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-weight: bold;
	font-size: 13px;
	color: $white-color;
	border: none;
	border-radius: 1px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background-color: #f5f5f5;
	transition: $primary-transition;

	&:hover {
		background-color: darken($primary-color, 3);
	}
}

form.search-form {
	position: relative;
}

textarea {
	width: 100%;
	overflow: auto;
	vertical-align: top;
	border: 1px solid #e6e6e6;
}

/* Contact Form */
.wpcf7 {

	&-text,
	&-textarea,
	&-select,
	&-date {
		display: block;
		padding: 15px 20px;
		margin: 7px 0 20px 0;
		font-size: 14px;
		font-weight: normal;
		color: $text-color;
		border: 1px solid #e6e6e6;
		background-color: #f5f5f5;
		border-radius: 1px;
		transition: $primary-transition;
	}

	&-text,
	&-select,
	&-date {
		width: 100%;

		&:focus {
			outline: none;
			border-color: $primary-color;
		}
	}

	&-textarea {
		max-width: 100%;
	}

	&-select {
		height: 54px;
		padding: 0 20px;
		outline: 0;
		border-radius: 0;
		background-image: url(assets/images/select-bg.png);
		background-position: 95% center;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	&-acceptance {
		display: block;
		position: relative;
		width: auto;

		input {
			position: absolute;
			top: 1px;
			left: 0;
		}

		span {
			margin-left: 10px;

			.wpcf7-list-item-label {
				color: #ababab;
			}
		}
	}

	&-checkbox {

		.wpcf7-list-item {
			margin-left: 0;
			display: block;
			color: $white-color;
			background-color: $primary-color;
			border-bottom: 1px dashed darken($primary-color, 3);
			transition: $primary-transition;

			&:hover {
				background-color: darken($primary-color, 3);
			}

			&.last {
				border-bottom: none;
			}

			label {
				display: block;
				padding: 16.5px 30px;
				margin-bottom: 0;
				cursor: pointer;

				span {
					color: $white-color;
					text-shadow: 0 1px 1px rgba(0,0,0,0.2);
				}
			}

			input {
				margin: 0 10px 0 0;
			}
		}
	}

	&-radio {

		input[type="radio"] {
			margin-right: 5px;
		}

		.wpcf7-list-item-label {
			color: #464646;

			 + input[type="radio"] {
				margin-right: 0;
				margin-left: 5px; 
			}
		}
	}

	&-form-control-wrap {
		display: block;
	    margin-bottom: 20px;
	}

	&-submit {
		float: left;
	    padding: 18px 24px;
		outline: none;
		font-size: 13px;
		font-weight: bold;
		line-height: inherit;
		text-transform: uppercase;
		text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}

	/* Default input field text label */
	span {
		font-weight: bold;
		color: $primary-color;

		&.wpcf7-list-item {

			label {
				margin-bottom: 0;
			}

		    &.first {
		    	margin-left: 0;
		    }
		}
	}

	&-response-output {
		margin: 0;
		clear: both;
	}

	&-validation-errors {
		border-color: red;
	}

	&-form.invalid {

		.wpcf7-submit {
			margin-bottom: 10px;
		}
	}

	&-validation-errors {
		border-color: red;
	}

	&-form.invalid {

		.wpcf7-submit {
			margin-bottom: 10px;
		}
	}

	&-not-valid-tip {
		margin-bottom: 20px;
		text-align: left;
	}

	.info-text {
		position: relative;
		margin: 0 0 0 25px;
		top: -5px;
		color: #ababab;
	}
}

/* Request a quote form (request quote page) */
.request-quote-form {
	margin-bottom: 8px;

	.wpcf7 {

		&-text,
		&-textarea,
		&-select {
			background-color: #f9f9f9;
			border-color: $light-gray-color;
		}

		&-text,
		&-select {
			height: 45px;
			padding: 10px 20px;
		}

		&-textarea {
			height: 175px;
		}

		&-submit {
			float: right;
			padding: 16px 22px;
		}

		img.ajax-loader {
			position: absolute;
			left: 15px;
		}
	}
}

/* Ask a question form (homepage) */
.ask-a-question-form {

	.wpcf7 {

		&-text,
		&-textarea,
		&-select,
		&-date {
			border-color: transparent;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
			background-color: #ffffff;
		}

		&-textarea {
			height: 125px;
			background-color: #ffffff;
		}

		&-submit {
			float: none;
		}

		img.ajax-loader {
			position: absolute;
			top: 0;
			right: 15px;
		}
	}
}