/*--------------------------------------------------------------
3.5 Gutenberg
--------------------------------------------------------------*/

/* Gutenberg align classes */
body {

	&.sidebar-hide {

		.alignfull {
			width: 100vw;
			margin-left: 50%;
			max-width: none;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);

			img {
				width: 100vw;
			}
		}

		.alignwide {

			@media (min-width: $screen-md) {
				left: 0;
				width: 970px;
				margin-left: 50%;
				max-width: inherit;
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
			}

			@media(min-width: 1200px) {
				width: 1170px;
			}

			@media(min-width: 1400px) {
				width: 1300px;
			}
		}
	}

	&:not(.sidebar-hide) {

		.alignwide {

			@media (min-width: $screen-md) {
				margin-left: -15px;
				margin-right: -15px;
				width: auto;
				max-width: inherit;
			}

			&.wp-block-cover {

				@media (min-width: $screen-md) {
					width: auto;
				}
			}
		}

		.blog-grid {

			.alignwide {

				@media (min-width: $screen-md) {
					margin-left: -33px;
					margin-right: -33px;
				}
			}
		}
	}
}

/* Table */
.wp-block-table {

	th {
		border-color: transparent;
	}

	td,
	th {
		padding: 14px 30px;
		font-size: 14px;
		border: 1px solid #e2e2e2;
	}

	&.is-style-stripes {

		td {
			border-bottom-color: #f2f2f2;
		}

		tr:last-of-type td {
			border-bottom: none;
		}
	}
}

/* Block Quote */
.wp-block-quote {

	&:not(.is-large):not(.is-style-large) {
		padding: 0 40px;
		margin: 30px 0;
		font-size: inherit;
		font-style: italic;
		border-left: none;
	}

	p {
		font-size: 20px;
	}

	cite,
	footer,
	&__citation {
		display: block;
		margin-top: 15px;
		font-size: 15px;
		font-style: normal;
		font-weight: bold;
		color: $primary-color;
	}

	&.is-large,
	&.is-style-large {
		padding: 0 40px;
		margin: 30px 0;
		font-size: inherit;
		font-style: italic;
		border-left: none;

		p {
			font-size: 20px;
		}

		cite,
		footer {
			font-size: 15px;
			text-align: left;
		}

		&::before {
			position: absolute;
			font-family: 'Playfair Display', serif;
			content: '"';
			top: -25px;
			left: 20px;
			font-size: 10em;
			line-height: 1;
			color: rgba(153, 153, 153, 0.19);
		}
	}
}

/* Pull Quote */
.wp-block-pullquote {
	margin: 0 0 30px 0;
	border-top-color: rgba(0, 0, 0, 0.08);
	border-bottom-color: rgba(0, 0, 0, 0.08);

	&.alignleft {
		margin-top: 10px;
		margin-right: 30px;
	}

	&.alignright {
		margin-top: 10px;
		margin-left: 30px;
	}

	blockquote {
		margin: auto;
		padding: 0;
		font-style: normal;
		border-left: none;

		p {
			font-size: 22px;
			color: inherit;
		}

		cite,
		footer,
		&__citation {
			display: block;
			margin-top: 15px;
			text-transform: none;
			font-size: 15px;
			font-style: normal;
			font-weight: bold;
			color: $primary-color;
		}

		&::after {
			display: none;
		}
	}
}

/* Code Block */
.wp-block-code {
	display: inline-block;
	padding: 0;
    color: #343434;
    font-family: monospace;
    font-size: 14px;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    border: none;
    background-color: transparent;
}

/* Gutenberg button */
.wp-block-button {

	.wp-block-button__link {
		padding: 19px 22px;
		font-size: 13px;
		font-family: "Roboto", sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		border-width: 2px;
		border-radius: 1px;
		-webkit-transition: $primary-transition;
		transition: $primary-transition;

		&:hover,
		&:active:focus {
			border-color: transparent;
		}
	}

	&.is-style-squared {

		.wp-block-button__link {
			border-radius: 1px;
		}
	}

	&.is-style-outline {

		.wp-block-button__link {
			padding: 17px 22px;
			color: #969696;
			text-shadow: none;
			border-radius: 1px;
			border-color: rgba(0,0,0,0.1);
			background: transparent;

			&:hover {
				color: #969696;
				border-color: rgba(0,0,0,0.2);
			}
		}
	}

	&.aligncenter {
		margin-bottom: 20px;
	}
}

/* Latest Posts Block */
.wp-block-latest-posts {
	margin-bottom: 20px;
}

/* Category & Archive Blocks */
.wp-block-categories,
.wp-block-archives {
	padding-left: 0;

	li {
		position: relative;
		list-style: none;		

		a {
			position: relative;
			padding-left: 20px;
			font-weight: 500;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: "\f178";
				font-family: "FontAwesome";
				font-size: 14px;
				color: #e6e6e6;
			}
		}

		.cat-count {
			position: relative;
			top: 0;
			display: inline-block;
			margin-left: 5px;
			width: 20px;
			height: 20px;
			font-size: 10px;
			font-weight: bold;
			line-height: 21px;
			text-align: center;
			border-radius: 50%;
			background-color: #f7f7f7;
			-webkit-transition: all 100ms ease-in-out;
			transition: all 100ms ease-in-out;
		}
	}

	&.aligncenter {
		text-align: center;
	}
}

/* Column Block */
.wp-block-column {
	margin-bottom: 0;
}

/* Seperator Block */
.wp-block-separator {
	height: auto;
	border-bottom: 1px solid #d0d5da;
	background: none;

	+ h2 {
		clear: left;
	}
}

.wp-block-columns {

	+ .wp-block-separator {
		margin: 15px auto 30px;
	}
}

/* Image Block */
.wp-block-image {
	margin-bottom: 30px;

	figcaption {
		margin-top: 17px;
		margin-bottom: 0;
		font-size: 14px;
		color: #a5a5a5;
	}
}

/* Embed Block */
.wp-block-embed {
	margin-bottom: 30px;
}

/* Block Cover Block */
.wp-block-cover,
.wp-block-cover-image {
	margin-bottom: 30px;
}

/* Verse */
.wp-block-verse {
	display: block;
}