/*--------------------------------------------------------------
5.0 Header
--------------------------------------------------------------*/

.header {

	@media(min-width: $screen-md) {
		position: relative;
		background-color: #3a3a3a;
	}
}

body {

	// no-topbar class
	&.no-topbar {

		.header-default {

			.navigation {

				@media (min-width: $screen-md) {
					position: absolute;
					top: 30px;
					width: ($container-md - 30px);
				}

				@media(min-width: $screen-lg) {
					width: ($container-lg - 30px);
				}
			}
		}

		&.fixed-navigation {

			.header-default {

				.navigation {

					&.is-sticky {

						@media (min-width: $screen-md) {
							position: fixed;
						}
					}
				}

				.sticky-offset {
					height: 0px!important; // only used in this specific case to overrule the inline style height
				}
			}
		}
	}

	// is-sticky-nav class
	&.is-sticky-nav {

		.navigation {

			@media(min-width: $screen-md) {
				position: fixed;
				top: 0;
			}
		}

		.header-default {

			.navigation {

				&.is-sticky {

					@media(min-width: $screen-md) {
						width: ($container-md - 30px);
					}

					@media(min-width: $screen-lg) {
						width: ($container-lg - 30px);
					}
				}
			}
		}

		// If WP admin bar is visible
		&.admin-bar {

			.navigation {

				@media(min-width: $screen-md) {
					top: 32px;
				}
			}
		}
	}
}

// Offset if sticky nav is used
.sticky-offset {
	display: none;
}

body.fixed-navigation {

	.navigation {

		&.is-sticky {

			+ .sticky-offset {

				@media (min-width: $screen-md) {
					display: block;
				}
			}
		}
	}

	&.admin-bar {

		&:not(.header-transparent) {

			.navigation {

				&.is-sticky {
					top: 32px;
				}
			}
		}

		&.header-transparent {

			&.is-sticky-nav {

				.navigation-wrapper {
					top: 32px;
				}
			}
		}
	}
}

// Header Wide Layout
@import "headers/header-wide";

// Header Sidebar Layout
@import "headers/header-sidebar";

// Header Transparent Layout
@import "headers/header-transparent";

// Header Overlay Layout
@import "headers/header-overlay";