/*--------------------------------------------------------------
6.0 Main Navigation
--------------------------------------------------------------*/
.navbar {

	// navbar-brand
	&-brand {
		display: block;
		padding: 0;
		line-height: inherit;
		height: auto;

		@media(max-width: $screen-xs) {
			width: 50%;
		}

		@media(min-width: $screen-xs) {
			width: auto;
		}
	}

	// navbar-header
	&-header {

		@media(min-width: $screen-md) {
			position: absolute;
			z-index: 5;

			.site-title {
				padding: 26px 0;
				margin: 0;
				font-size: 26px;
			}
		}
	}

	// navbar-collapse
	&-collapse {
		padding: 0;
		margin: 0;
		border-top: none;
	}

	// navbar-toggle
	&-toggle {
		float: right;
		padding: 12px 20px;
		margin: 10px 0 10px 0;
		border: none;
		border-radius: 1px;
		background-color: $primary-color;

		@media(min-width: $screen-xs) {
			margin: 23px 0 22px;
		}

		.icon-bar {
			width: 18px;
			height: 3px;
			background: $white-color;

			+ .icon-bar {
				margin-top: 3px;
			}
		}

		.navbar-toggle-text {
			display: inline-block;
			padding: 0 10px 0 0;
			font-weight: 700;
			color: $white-color;
		}

		.navbar-toggle-icon {
			display: inline-block;
			height: 18px;
			vertical-align: middle;
		}
	}

	// navbar-nav
	&-nav {
		float: none!important; /* Need to be important to overwrite */
		margin: 7.5px -15px;

		>li {
			float: none;

			>a {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

	// navbar-text
	&-text {
		float: none;
		margin: 15px 0;
	}
}


// navigation
.navigation {
	
	@media(min-width: $screen-md) {
		position: relative;
		width: 100%;
		min-height: 90px;
		margin-bottom: -45px;
		z-index: 210;
		background: $white-color;
		box-shadow: 0 1px 2px rgba(0,0,0,0.1);

		.navbar-brand {
			padding: 0 0 0 30px;
		}
		.header-wide .navbar-brand {
			padding: 0;
		}
	}
}

// Main Navigation
.main-navigation {
	position: relative;
	padding: 0;
	margin: 0 0 30px 0;
	background-color: $primary-color;

	@media(min-width: $screen-md) {
		position: absolute;
		right: 0;
		margin: 0;
		padding: 0 20px 0 40px;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			border-style: solid;
			border-color: transparent transparent transparent $white-color;
			border-width: 0 0 90px 40px;
		}
	}

	@media(min-width: $screen-lg) {
		padding: 0 30px 0 60px;
	}

	> li {
		position: relative;
		list-style: none;

		@media (min-width: $screen-md) {
			display: inline-block;

			&.menu-item-has-children {

				&:hover>ul.sub-menu {
					visibility: visible;
					opacity: 1;
					display: block;
				}

				&::after {
					position: absolute;
					right: calc(50% - 4px);
					bottom: 15px;
					content: "\f0d7";
					font-family: "FontAwesome";
					font-size: 12px;
					color: $white-color;
					z-index: 2;
				}
			}

			&:hover>a::after,
			&:focus>a::after,
			&.current-menu-item>a::after,
			&.current-menu-item>a:hover::after,
			&.current-menu-parent>a::after,
			&.cuurent-menu-parent>a:hover::after {
				position: absolute;
				content: "";
				left: 0;
				bottom: 0;
				width: 100%;
				height: 6px;
				background-color: #c7d990;
			}

			&:first-of-type>a::before,
			>.sub-menu>li>a::before {
				display: none;
			}
		}

		// for Safari Browser
		&:focus {
			outline: none;
		}

		> a {
			display: block;
			padding: 13px 25px;
			font-family: $primary-font;
			font-size: 17px;
			font-weight: bold;
			color: $white-color;
			border-bottom: 1px solid rgba(250, 250, 250, 0.2);

			@media (min-width: $screen-md) {
				position: relative;
				display: inline-block;
				padding: 34px 15px;
				font-size: 15px;
				font-weight: bold;
				color: $white-color;
				text-decoration: none;
				border-bottom: none;
				z-index: 2;
				text-shadow: 0 1px rgba(0,0,0,0.1);

				&::before {
					position: absolute;
					content: "";
					left: -4px;
					top: calc(50% - 1px);
					width: 4px;
					height: 4px;
					background-color: #C8DD89;
					border-radius: 50%;
				}
			}

			@media(min-width: $screen-lg) {
				padding: 32px 20px 33px 20px;
				font-size: 17px;
			}
		}
	}

	> .menu-item-has-children {

		> a {
			position: relative;
		}
	}

	// Navigation Sub Menu's
	.sub-menu {
		margin: 0;
		padding: 0;

		@media (min-width: $screen-md) {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: 100%;
			left: 0;
			padding: 0;
			margin: 0;
			min-width: 200px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.20);
		}

		> li {
			position: relative;
			list-style: none;

			@media (min-width: $screen-md) {
				display: block;

				&:first-of-type {

					> a {
						box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3);
					}
				}

				&:hover {

					>a {
						color: $white-color;
						background-color: #3a3a3a;
						border-bottom-color: #3a3a3a;
						transition: none;

					}
				}

				&.menu-item-has-children {

					> a {

						&::after {
							position: absolute;
							content: "\f0da";
							font-family: "FontAwesome";
							right: 15px;
						}
					}

					> ul.sub-menu>li a {
						border-left: 1px solid rgba(0,0,0,0.12);
					}
				}

				> .sub-menu {
					margin-top: 0;
					left: 100%;
					top: 0;
				}
			}

			&:hover {

				> .sub-menu {

					@media (min-width: $screen-md) {
						visibility: visible;
						opacity: 1;
						display: block;
					}
				}
			}

			> a {
				display: block;
				padding: 10px 20px 10px 40px;
				font-size: 14px;
				font-weight: bold;
				color: $white-color;
				text-transform: none;
				white-space: nowrap;
				border-top: 1px solid rgba(250, 250, 250, 0.2);
				background-color: darken( $primary-color, 3);

				@media (min-width: $screen-md) {
					padding: 13px 21px 13px 18px;
					font-weight: bold;
					color: #999999;
					border-top: none;
					border-bottom: 1px solid rgba(0,0,0,0.12);
					background-color: #434343;
				}
			}

			@media(max-width: 991px) {

				.sub-menu {

					li {

						> a {
							padding-left: 55px;
						}
					}
				}
			}
		}
	}
}

// Mobile navigation toggle
.main-navigation {

	.nav-toggle-mobile-submenu {
		position: absolute;
		right: 0;
		top: 0;
		width: 54px;
		height: 54px;
		line-height: 55px;
		z-index: 100;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		cursor: pointer;

		@media (min-width: $screen-md) {
			display: none;
		}

		i {
			transition: transform 150ms ease-out;
			-webkit-transform: transform 150ms ease-out;
		}
	}

	.sub-menu {

		@media (max-width: $screen-md) {
			display: none;
		}

		.nav-toggle-mobile-submenu {
			height: 42px;
			line-height: 40px;
		}
	}

	.nav-toggle-dropdown {

		> .nav-toggle-mobile-submenu {

			i {
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
		}

		> .sub-menu {

			@media (max-width: $screen-md) {
				display: block;
			}
		}
	}

	// Remove border only for first parent submenu link
	> .nav-toggle-dropdown {

		> a {
			border-color: transparent;
		}

		> .sub-menu {

			> li {

				&:first-of-type {

					> a {
						border-top-color: transparent;
					}
				}
			}
		}
	}
}

// Header Default & Wide only + Megamenu for these layouts
.header-default,
.header-wide {

	.main-navigation {

		> li {

			> a {

				@media (min-width: $screen-md) {
					line-height: 22px;
				}

				@media (min-width: $screen-lg) {
					line-height: 25px;
				}
			}
		}
	}

	#mega-menu-wrap-primary {

		#mega-menu-primary {

			> li {

				// Divider dot
				&.mega-menu-item {

					> a {

						&::before {
							position: absolute;
							content: "";
							left: -4px;
							top: calc(50% - 1px);
							width: 4px;
							height: 4px;
							border-radius: 50%;
						}
					}
				}

				// Remove divider dot from fist link
				&:first-of-type {

					&.mega-menu-item {

						> a {

							&::before {
								display: none;
							}
						}
					}
				}

				// Link with children arrow
				&.mega-menu-item-has-children {

					> a.mega-menu-link {

						&::after {
							margin: 0;
						}
					}

					i {
						display: none;

						@media(min-width: $screen-md) {
							position: absolute;
							display: block;
							right: calc(50% - 4px);
							bottom: 18px;
							content: "\f0d7";
							font-family: "FontAwesome";
							font-size: 12px;
							font-weight: bold;
							color: #ffffff;
							z-index: 0;
						}
					}

					&::after {
						position: absolute;
						right: calc(50% - 4px);
						bottom: 15px;
						content: "\f0d7";
						font-family: "FontAwesome";
						font-size: 12px;
						color: #ffffff;
						z-index: 0;
					}

					ul.mega-sub-menu {

						> li {

							> a {
								border-bottom: 1px solid rgba(0, 0, 0, 0.12);
							}

							&:hover {

								> a {
									border-color: #3a3a3a;
								}
							}
						}
					}

				}

				// Active & hover bottom line only for desktop screens
				@media (min-width: $screen-md) {
					&.mega-current-menu-item,
					&.mega-current_page_ancestor,
					&:hover {

						> a {

							&::after {
								position: absolute;
								content: "";
								left: 0;
								bottom: 0;
								margin: 0;
								width: 100%;
								height: 6px;
							}
						}
					}
				}
			}
		}
	}
}