/*--------------------------------------------------------------
8.0 Page Header
--------------------------------------------------------------*/

.page-header {
	position: relative;
	margin: 0 0 40px 0;
	padding: 40px 0;
	border: none;
	background-color: $light-gray-color;

	@media(min-width: $screen-md) {
		padding: 90px 0 60px 0;

		&.header-large {
			padding: 130px 0 100px 0;
		}
	}


	&+.breadcrumbs {
		margin-top: -40px;
	}

	.main-title {
		position: relative;
		margin: 0;
		font-size: 36px;
		color: #333333;

		@media(min-width: $screen-md) {
			font-size: 48px;
		}
	}

	.sub-title {
		position: relative;
		margin: 5px 0 0 0;
		font-family: $primary-font;
		font-size: 16px;
		font-weight: normal;
		color: #999999;
	}
}

.content-spacer {
	height: 30px;

	@media (min-width: $screen-md) {
		height: 50px;
	}
}


body.no-topbar {

	.page-header {

		@media(min-width: $screen-md) {
			padding: 170px 0 60px 0;
		}

		&.header-large {
			padding: 110px 0 105px 0;

			@media(min-width: $screen-md) {
				padding: 205px 0 100px 0;
			}
		}
	}
}



body.header-wide {

	.page-header {
	
		@media(min-width: $screen-md) {
			padding: 70px 0 80px 0;
		}

		&.header-large {

			@media(min-width: $screen-md) {
				padding: 110px 0 120px 0;
			}
		}
	}
}


body.no-page-header {

	.header {

		@media (min-width: $screen-md) {
			margin-bottom: 45px;
		}
	}
}