/*--------------------------------------------------------------
3.4 Shortcodes
--------------------------------------------------------------*/

/* Dropcap Shortcode */
.dropcap {
	float: left;
	padding: 0 5px;
	margin: 0 13px 5px 0;
	min-width: 60px;
	min-height: 60px;
	font-size: 30px;
	font-weight: bold;
	color: $primary-color;
	text-align: center;

	/* Dropcap Style 1 */
	&.style1 {
		min-height: 60px;
		border: 4px solid #e6e6e6;
	}

	/* Dropcap Style 2 */
	&.style2 {
		min-height: 60px;
		line-height: 55px;
		border: 2px solid #e6e6e6;
	}

	/* Dropcap Style 3 */
	&.style3 {
		margin-right: 10px;
		line-height: 60px;
		font-size: 38px;
	}
}

/* Dropcap with Title Shortcode */
.dropcap-wrap {
	display: table;
	margin-bottom: 15px;

	.dropcap-pull {
		display: table-cell;
		vertical-align: top;

		.dropcap {
			float: none;
			margin-right: 15px;
			margin-bottom: 0;
			padding: 0 12px;
			font-size: 32px;

			&.style2 {
				line-height: inherit;
			}

			&.style3 {
				margin-bottom: 0;
				font-size: 38px;
				line-height: inherit;
			}
		}
	}

	.dropcap-title {
		display: table-cell;
		vertical-align: middle;
		font-family: $secondary-font;
		font-size: 20px;
		font-weight: bold;
		color: #464646;
		line-height: 20px;
	}
}



/* Seperator Shortcode */
.seperator {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	border-top: 1px solid #e6e6e6;

	&::after {
		position: absolute;
		content: "";
		left: calc(50% - 50px);
		bottom: 0;
		width: 100px;
		height: 1px;
		background-color: $primary-color;
	}
}


/* Accordion Shortcode */
.panel-group {

	.panel {

		+ .panel {
			
			.panel-heading {

				.panel-title {
					margin-top: 10px;
				}
			}
		}
	
		.panel-heading {
			padding: 0;

			.panel-title {
				font-size: 18px;
				margin-bottom: 0;
			}

			&+.panel-collapse>.list-group,
			&+.panel-collapse>.panel-body {
				padding: 15px 30px;
				border-style: solid;
				border-color: #f2f2f2;
				border-width: 0 1px 1px 1px;
				border-radius: 0 0 1px 1px;
			}
		}
	}

	.accordion-toggle {
		position: relative;
		display: block;
		padding: 16px 30px;
		color: $text-color;
		font-family: $primary-font;
		font-size: 16px;
		border-radius: 1px;
		background-color: $white-color;
		border: 1px solid #f2f2f2;
		transition: all 200ms ease-out;

		&[aria-expanded="true"] {
			color: $white-color;
			border-color: transparent;
			text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
			border-radius: 1px 1px 0 0;
			background-color: $primary-color;

			&:hover {
				color: $white-color;
				background-color: $primary-color;
			}

			&::before {
				content: "\f056";
				color: $white-color;
			}
		}

		&:hover {
			color: $primary-color;
			background-color: #f9f9f9;
		}

		&::before {
			position: absolute;
			right: 30px;
			top: 15px;
			content: "\f055";
			font-family: "FontAwesome";
			font-size: 18px;
			font-weight: normal;
			color: $primary-color;
			transition: all 0.2s ease-out;
		}
	}
}

/* Table */
.qt-table {
	width: 100%;

	&-wrap {

		@media (max-width: 550px) {
			overflow-x: auto;
		}
	}

	thead td {
		padding: 15px 30px;
		color: $white-color;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		border: none;
		background-clip: padding-box;

		&:empty {
			background-color: transparent;
		}
	}

	tbody td {
		padding: 15px 30px;
		border: none;
		background-clip: padding-box;

		&:first-of-type {
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	tr {

		&:hover {
			background: none;
		}

		&:nth-child(2n+0),
		&:nth-child(2n+0):hover {
			background-color: #f9f9f9;
		}
	}
}

/* Table Default */
.qt-table.default {
	
	tbody {

		td {
			box-shadow: none;
			border-bottom: 1px solid #f2f2f2;
		}

		tr {

			td {

				&:last-of-type {
					border-right: none;
				}
			}

			&:last-of-type td {
				border-bottom: none;
			}
		}
	}
}

/* Table Boxed */
.qt-table.boxed {

	thead td {
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}

	tbody td {
		background-color: $white-color;	
		border-bottom: 1px solid #f2f2f2;
		border-right: 1px solid #f2f2f2;

		&:first-of-type {
			box-shadow: none;
			background-color: #f2f2f2;
			border-bottom: 1px solid $white-color;
		}
	}
}

/* Embed Shortcode */
.embed-responsive {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}