/*--------------------------------------------------------------
4.0 Topbar
--------------------------------------------------------------*/

.topbar {
	position: relative;
	font-size: 13px;
	color: #7d7d7d;
	background-color: #3a3a3a;

	@media (min-width: $screen-md) {
		padding: 11px 0;
		text-align: left;
		background: none;
	}

	.tagline {
		position: relative;
		padding: 10px 0;

		@media (min-width: $screen-md) {
			float: left;
			padding: 0;
		}
	}
	
	@media (min-width: $screen-md) {

		.widgets {
			float: right;
		}
	}

	.widget {
		position: relative;
		padding: 8px 0;
		border-top: 1px solid rgba(255,255,255,0.1);
		width: auto;
		
		@media (min-width: $screen-md) {
			display: inline-block;
			padding: 0 20px 0 0;
			margin: 0 20px 0 0;
			border-top: none;

			&::before {
				position: absolute;
				right: 0;
				top: 3px;
				content: "";
				width: 1px;
				height: 15px;
				background-color: rgba(255,255,255,0.12);
				transform: skew(-25deg);
			}

			&:last-of-type {
				padding-right: 0;
				margin-right: 0;

				&::before {
					display: none;
				}
			}
		}

		.widgettitle {
			color: $white-color;
		}
	}

	.widget-icon-box {

		.fa {
			margin-right: 5px;
			font-size: 20px;
			vertical-align: bottom;
			transition: $primary-transition;
		}

		&:hover .fa {
			color: #ffffff;
		} 
	}

	.widget_text,
	.widget-icon-box .text {
		display: inline-block;
	}

	.tagline,
	.widget-icon-box .title,
	.widget-icon-box .subtitle {
		display: inline-block;
		margin: 0;
		font-family: $primary-font;
		font-size: 13px;
		font-weight: normal;
		color: #7d7d7d;
	}

	.widget-social-icons {

		a {
			width: auto;
			height: auto;
			margin: 0;
			line-height: 0;
			font-size: 16px;
			background: none;

			&:hover .fa {
				color: $white-color;
			}
		}

		.fa {
			font-size: 17px;
			padding: 0 3px;
			vertical-align: middle;
			margin-right: 1px;
			transition: $primary-transition;
		}
	}

	.menu {
		margin-bottom: 0;
		padding-left: 0;

		@media (min-width: $screen-md) {
			margin: -20px 0;
		}

		> li {
			list-style: none;
			position: relative;
			display: block;

			@media (min-width: $screen-md) {
				display: inline-block;
			}

			> a {
				position: relative;
				display: block;
				margin: 0 10px 0 0;
				color: #757575;
				-webkit-transition: color 100ms ease;
				transition: color 100ms ease;

				@media (min-width: $screen-md) {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

			&.menu-item-has-children > a {
				position: relative;
				padding-right: 5px;
				margin-bottom: 0;

				&::after {
					content: "\f0d7";
					position: relative;
					left: 5px;
					top: -1px;
					padding-right: 0;
					font-family: "FontAwesome";
					font-size: 10px;
					line-height: 0;
				}
			}

			&.menu-item-has-children:hover > .sub-menu {
				visibility: visible;
				opacity: 1;
			}

			&:last-of-type {

				> a {
					margin-right: 0;
				}
			}
		}

		.sub-menu {
			position: absolute;
			left: -15px;
			top: 100%;
			padding: 0;
			margin: 0;
			min-width: 130px;
			display: block;
			visibility: hidden;
			opacity: 0;
			text-align: left;
			z-index: 999;

			> li {
				position: relative;
				list-style: none;

				> a {
					display: block;
					padding: 6px 15px;
					margin: 0;
					color: #ffffff;
					white-space: nowrap;
					border-bottom: 1px solid rgba(255,255,255,0.1);
					background-color: #a1c13b;

					&:hover {
						color: #ffffff;
					}
				}

				.sub-menu {
					margin-top: 0;
					left: 100%;
					top: 0;
					border-left: 1px solid $darker-text-color;
				}
			}
		}
	}
}