/*--------------------------------------------------------------
10.0 WordPress Widgets
--------------------------------------------------------------*/

.sidebar { 
	margin-bottom: 60px;
	
	.widget {
		position: relative;
		margin-bottom: 35px;

		&.woocommerce {

			ul {
				padding-left: 0;
			}
		}

		ul {
			padding-left: 0;
			margin-bottom: 0;

			li {

				ul {
					margin-left: 0;
				}
			}
		}

		select {
			width: 100%;
			max-width: 100%;
		}
	}
}

.widget_recent_entries,
.widget_recent_comments,
.widget_archive,
.widget_categories,
.widget_meta,
.widget_rss,
.widget_pages,
.widget_calendar {

	&::before {
		display: none;
	}

	ul {
		padding-left: 0;

		li {
			position: relative;
			padding-left: 30px;
			list-style: none;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				content: "\f178";
				font-family: "FontAwesome";
				font-size: 14px;
				color: #e6e6e6;
			}

			> ul {
				margin-left: 0;
			}
		}
	}
}

.topbar,
.footer {

	.widget_recent_entries,
	.widget_recent_comments,
	.widget_archive,
	.widget_categories,
	.widget_meta,
	.widget_rss,
	.widget_pages,
	.widget_calendar {

		ul {

			li {

				&::before {
					color: rgba(255,255,255,0.1);
				}
			}
		}
	}
}

/* RSS Widget */
.widget_rss {

	.widget-title {

		a {
			color: #464646;
		}
	}
}

/* Calendar Widget */
.widget_calendar {

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	#wp-calendar {
		width: 100%;
	}

	caption {
		padding: 6px 0;
		font-weight: bold;
		text-align: center;
		color: #ffffff;
		background-color: $primary-color;
	}

	thead {

		tr {

			th {
				padding: 5px 0;
				text-align: center;
				border: 1px solid #dedede;
			}
		}
	}

	tbody {

		tr {

			td {
				padding: 5px 0;
				text-align: center;
				border: 1px solid #dedede;
			}
		}
	}

	tfoot {

		tr {

			td {
				padding: 5px;
				border-top: 1px solid #dedede;
			}
		}

		#next {

			a {
				float: right;
			}
		}
	}
}

/* Tagcloud Widget */
.widget_tag_cloud a {
	display: inline-block;
	padding: 10px 12px;
	margin-bottom: 4px;
	color: $text-color;
	text-decoration: none;
	border-radius: 1px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	
	&:hover {
		color: $darker-text-color;
		border-color: rgba(0,0,0,0.2);
	}
}

/* Category & Archive select field */
.widget_archive,
.widget_categories,
.widget_text {

	select {
		height: 50px;
		max-width: 100%;
		padding: 0 20px;
		border: 1px solid #eeeeee;
		border-radius: 1px;
		background: #f9f9f9 url(assets/images/select-bg.png);
		background-position: right 20px center;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		&:focus {
			border-color: #cecece;
			outline: none;
		}
	}
}

/* Navigation widget */
.widget_nav_menu ul {
	
	>li {
		display: block;

		>a {
			display: inline-block;
			margin: 3px 0;
		}

		&:first-of-type a {
			margin-top: 0;
		}
	}
}

/* Search Box Widget */
.search-form label,
.sidebar .widget_search label {
	float: left;
	width: 65%;
}
.search-field {
	height: 50px;
	padding: 0px 20px;
	font-size: 13px;
	font-weight: normal;
	width: 100%;
	outline: none;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #e6e6e6;
	border-radius: 1px 0 0 1px;
}
.search-submit {
	height: 50px;
	border: none;
	width: 35%;
	cursor: pointer;
	border-radius: 0 1px 1px 0;

	&:hover {
		background-color: darken( $primary-color, 3);
	}
}

/* Navigation Widget */
.sidebar .widget_nav_menu .menu,
.content .widget_nav_menu .menu {
	padding: 0;
	
	li {

		&:last-of-type>a { 
			border-bottom: none;
		}

		a {
			display: block;
			padding: 16px 30px;
			font-size: 15px;
			font-weight: bold;
			color: $text-color;
			background-color: #f5f5f5;

			&:hover {
				color: $white-color;
			}
		}

		.fa {
			margin-right: 9px;
			font-size: 16px;
		}

		&.current-menu-item {
			background-color: $primary-color;

			a {
				position: relative;
				color: $white-color;

				&::after {
					position: absolute;
					right: 25px;
					top: calc(50% - 11px);
					content: "\f105";
					font-family: "FontAwesome";
					font-size: 15px;
					color: $white-color;
				}
			}
		}

		.sub-menu {
			padding-left: 0;
		}
	}
}

body.single-post .sidebar .widget,
body.blog .sidebar .widget {
	margin-bottom: 50px;
}

.content .sidebar {
	
	.widget-title,
	.widgettitle {
		margin-bottom: 20px;
		padding-bottom: 0px;
		border: none;
		font-size: 20px;
		color: $dark-color;
	}

	.widget-title {

		span.light {
			color: #464646;
			font-weight: bold;
		}
	}
}

.topbar {

	.widget_tag_cloud {

		a {
			border-color: rgba(255, 255, 255, 0.1);

			&:hover {
				border-color: rgba(255, 255, 255, 0.2);				
			}
		}
	}

	.widget_rss {

		.widgettitle {

			a {
				color: #ffffff;
			}
		}
	}

	.widget_calendar {

		thead {

			tr {

				th {
					border-color: #7d7d78;
				}
			}
		}

		tbody {

			tr {

				td {
					border-color: #7d7d78;
				}
			}
		}
	}
}

.footer {

	.widget_recent_entries,
	.widget_recent_comments,
	.widget_archive,
	.widget_categories,
	.widget_meta,
	.widget_rss,
	.widget_pages,
	.widget_calendar {

		ul {

			li {

				a {
					color: #757575;

					&:hover {
						color: $white-color;
					}
				}
			}
		}
	}

	.widget_calendar {

		thead {

			tr {

				th {
					border-color: #777777;
				}
			}
		}

		tbody {

			tr {

				td {
					border-color: #777777;
				}
			}
		}

		tfoot {

			tr {

				td {
					border: 1px solid #777777;
				}
			}
		}
	}

	.widget_rss {

		.widget-title {

			a {
				color: #ffffff;
			}
		}
	}
}