body {
  direction: rtl;
  unicode-bidi: embed;
}

.list-unstyled {
  padding-right: 0;
  padding-left: none;
}

.list-inline {
  padding-right: 0;
  padding-left: none;
  margin-right: -5px;
  margin-left: 0;
}

dd {
  margin-right: 0;
  margin-left: none;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
    clear: right;
    text-align: left;
  }

  .dl-horizontal dd {
    margin-right: 180px;
    margin-left: 0;
  }
}
blockquote {
  border-left: 0;
}

.blockquote-reverse,
blockquote.pull-left {
  padding-left: 15px;
  padding-right: 0;
  border-left: 5px solid #eeeeee;
  border-right: 0;
  text-align: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: right;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  left: 100%;
  right: auto;
}

.col-xs-pull-11 {
  left: 91.66666667%;
  right: auto;
}

.col-xs-pull-10 {
  left: 83.33333333%;
  right: auto;
}

.col-xs-pull-9 {
  left: 75%;
  right: auto;
}

.col-xs-pull-8 {
  left: 66.66666667%;
  right: auto;
}

.col-xs-pull-7 {
  left: 58.33333333%;
  right: auto;
}

.col-xs-pull-6 {
  left: 50%;
  right: auto;
}

.col-xs-pull-5 {
  left: 41.66666667%;
  right: auto;
}

.col-xs-pull-4 {
  left: 33.33333333%;
  right: auto;
}

.col-xs-pull-3 {
  left: 25%;
  right: auto;
}

.col-xs-pull-2 {
  left: 16.66666667%;
  right: auto;
}

.col-xs-pull-1 {
  left: 8.33333333%;
  right: auto;
}

.col-xs-pull-0 {
  left: auto;
  right: auto;
}

.col-xs-push-12 {
  right: 100%;
  left: 0;
}

.col-xs-push-11 {
  right: 91.66666667%;
  left: 0;
}

.col-xs-push-10 {
  right: 83.33333333%;
  left: 0;
}

.col-xs-push-9 {
  right: 75%;
  left: 0;
}

.col-xs-push-8 {
  right: 66.66666667%;
  left: 0;
}

.col-xs-push-7 {
  right: 58.33333333%;
  left: 0;
}

.col-xs-push-6 {
  right: 50%;
  left: 0;
}

.col-xs-push-5 {
  right: 41.66666667%;
  left: 0;
}

.col-xs-push-4 {
  right: 33.33333333%;
  left: 0;
}

.col-xs-push-3 {
  right: 25%;
  left: 0;
}

.col-xs-push-2 {
  right: 16.66666667%;
  left: 0;
}

.col-xs-push-1 {
  right: 8.33333333%;
  left: 0;
}

.col-xs-push-0 {
  right: auto;
  left: 0;
}

.col-xs-offset-12 {
  margin-right: 100%;
  margin-left: 0;
}

.col-xs-offset-11 {
  margin-right: 91.66666667%;
  margin-left: 0;
}

.col-xs-offset-10 {
  margin-right: 83.33333333%;
  margin-left: 0;
}

.col-xs-offset-9 {
  margin-right: 75%;
  margin-left: 0;
}

.col-xs-offset-8 {
  margin-right: 66.66666667%;
  margin-left: 0;
}

.col-xs-offset-7 {
  margin-right: 58.33333333%;
  margin-left: 0;
}

.col-xs-offset-6 {
  margin-right: 50%;
  margin-left: 0;
}

.col-xs-offset-5 {
  margin-right: 41.66666667%;
  margin-left: 0;
}

.col-xs-offset-4 {
  margin-right: 33.33333333%;
  margin-left: 0;
}

.col-xs-offset-3 {
  margin-right: 25%;
  margin-left: 0;
}

.col-xs-offset-2 {
  margin-right: 16.66666667%;
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-right: 8.33333333%;
  margin-left: 0;
}

.col-xs-offset-0 {
  margin-right: 0%;
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: right;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-pull-12 {
    left: 100%;
    right: auto;
  }

  .col-sm-pull-11 {
    left: 91.66666667%;
    right: auto;
  }

  .col-sm-pull-10 {
    left: 83.33333333%;
    right: auto;
  }

  .col-sm-pull-9 {
    left: 75%;
    right: auto;
  }

  .col-sm-pull-8 {
    left: 66.66666667%;
    right: auto;
  }

  .col-sm-pull-7 {
    left: 58.33333333%;
    right: auto;
  }

  .col-sm-pull-6 {
    left: 50%;
    right: auto;
  }

  .col-sm-pull-5 {
    left: 41.66666667%;
    right: auto;
  }

  .col-sm-pull-4 {
    left: 33.33333333%;
    right: auto;
  }

  .col-sm-pull-3 {
    left: 25%;
    right: auto;
  }

  .col-sm-pull-2 {
    left: 16.66666667%;
    right: auto;
  }

  .col-sm-pull-1 {
    left: 8.33333333%;
    right: auto;
  }

  .col-sm-pull-0 {
    left: auto;
    right: auto;
  }

  .col-sm-push-12 {
    right: 100%;
    left: 0;
  }

  .col-sm-push-11 {
    right: 91.66666667%;
    left: 0;
  }

  .col-sm-push-10 {
    right: 83.33333333%;
    left: 0;
  }

  .col-sm-push-9 {
    right: 75%;
    left: 0;
  }

  .col-sm-push-8 {
    right: 66.66666667%;
    left: 0;
  }

  .col-sm-push-7 {
    right: 58.33333333%;
    left: 0;
  }

  .col-sm-push-6 {
    right: 50%;
    left: 0;
  }

  .col-sm-push-5 {
    right: 41.66666667%;
    left: 0;
  }

  .col-sm-push-4 {
    right: 33.33333333%;
    left: 0;
  }

  .col-sm-push-3 {
    right: 25%;
    left: 0;
  }

  .col-sm-push-2 {
    right: 16.66666667%;
    left: 0;
  }

  .col-sm-push-1 {
    right: 8.33333333%;
    left: 0;
  }

  .col-sm-push-0 {
    right: auto;
    left: 0;
  }

  .col-sm-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }

  .col-sm-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }

  .col-sm-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }

  .col-sm-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }

  .col-sm-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }

  .col-sm-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }

  .col-sm-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }

  .col-sm-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }

  .col-sm-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }

  .col-sm-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }

  .col-sm-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }

  .col-sm-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: right;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-pull-12 {
    left: 100%;
    right: auto;
  }

  .col-md-pull-11 {
    left: 91.66666667%;
    right: auto;
  }

  .col-md-pull-10 {
    left: 83.33333333%;
    right: auto;
  }

  .col-md-pull-9 {
    left: 75%;
    right: auto;
  }

  .col-md-pull-8 {
    left: 66.66666667%;
    right: auto;
  }

  .col-md-pull-7 {
    left: 58.33333333%;
    right: auto;
  }

  .col-md-pull-6 {
    left: 50%;
    right: auto;
  }

  .col-md-pull-5 {
    left: 41.66666667%;
    right: auto;
  }

  .col-md-pull-4 {
    left: 33.33333333%;
    right: auto;
  }

  .col-md-pull-3 {
    left: 25%;
    right: auto;
  }

  .col-md-pull-2 {
    left: 16.66666667%;
    right: auto;
  }

  .col-md-pull-1 {
    left: 8.33333333%;
    right: auto;
  }

  .col-md-pull-0 {
    left: auto;
    right: auto;
  }

  .col-md-push-12 {
    right: 100%;
    left: 0;
  }

  .col-md-push-11 {
    right: 91.66666667%;
    left: 0;
  }

  .col-md-push-10 {
    right: 83.33333333%;
    left: 0;
  }

  .col-md-push-9 {
    right: 75%;
    left: 0;
  }

  .col-md-push-8 {
    right: 66.66666667%;
    left: 0;
  }

  .col-md-push-7 {
    right: 58.33333333%;
    left: 0;
  }

  .col-md-push-6 {
    right: 50%;
    left: 0;
  }

  .col-md-push-5 {
    right: 41.66666667%;
    left: 0;
  }

  .col-md-push-4 {
    right: 33.33333333%;
    left: 0;
  }

  .col-md-push-3 {
    right: 25%;
    left: 0;
  }

  .col-md-push-2 {
    right: 16.66666667%;
    left: 0;
  }

  .col-md-push-1 {
    right: 8.33333333%;
    left: 0;
  }

  .col-md-push-0 {
    right: auto;
    left: 0;
  }

  .col-md-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }

  .col-md-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }

  .col-md-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }

  .col-md-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }

  .col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }

  .col-md-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }

  .col-md-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }

  .col-md-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }

  .col-md-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }

  .col-md-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }

  .col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }

  .col-md-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: right;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }

  .col-lg-pull-12 {
    left: 100%;
    right: auto;
  }

  .col-lg-pull-11 {
    left: 91.66666667%;
    right: auto;
  }

  .col-lg-pull-10 {
    left: 83.33333333%;
    right: auto;
  }

  .col-lg-pull-9 {
    left: 75%;
    right: auto;
  }

  .col-lg-pull-8 {
    left: 66.66666667%;
    right: auto;
  }

  .col-lg-pull-7 {
    left: 58.33333333%;
    right: auto;
  }

  .col-lg-pull-6 {
    left: 50%;
    right: auto;
  }

  .col-lg-pull-5 {
    left: 41.66666667%;
    right: auto;
  }

  .col-lg-pull-4 {
    left: 33.33333333%;
    right: auto;
  }

  .col-lg-pull-3 {
    left: 25%;
    right: auto;
  }

  .col-lg-pull-2 {
    left: 16.66666667%;
    right: auto;
  }

  .col-lg-pull-1 {
    left: 8.33333333%;
    right: auto;
  }

  .col-lg-pull-0 {
    left: auto;
    right: auto;
  }

  .col-lg-push-12 {
    right: 100%;
    left: 0;
  }

  .col-lg-push-11 {
    right: 91.66666667%;
    left: 0;
  }

  .col-lg-push-10 {
    right: 83.33333333%;
    left: 0;
  }

  .col-lg-push-9 {
    right: 75%;
    left: 0;
  }

  .col-lg-push-8 {
    right: 66.66666667%;
    left: 0;
  }

  .col-lg-push-7 {
    right: 58.33333333%;
    left: 0;
  }

  .col-lg-push-6 {
    right: 50%;
    left: 0;
  }

  .col-lg-push-5 {
    right: 41.66666667%;
    left: 0;
  }

  .col-lg-push-4 {
    right: 33.33333333%;
    left: 0;
  }

  .col-lg-push-3 {
    right: 25%;
    left: 0;
  }

  .col-lg-push-2 {
    right: 16.66666667%;
    left: 0;
  }

  .col-lg-push-1 {
    right: 8.33333333%;
    left: 0;
  }

  .col-lg-push-0 {
    right: auto;
    left: 0;
  }

  .col-lg-offset-12 {
    margin-right: 100%;
    margin-left: 0;
  }

  .col-lg-offset-11 {
    margin-right: 91.66666667%;
    margin-left: 0;
  }

  .col-lg-offset-10 {
    margin-right: 83.33333333%;
    margin-left: 0;
  }

  .col-lg-offset-9 {
    margin-right: 75%;
    margin-left: 0;
  }

  .col-lg-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
  }

  .col-lg-offset-7 {
    margin-right: 58.33333333%;
    margin-left: 0;
  }

  .col-lg-offset-6 {
    margin-right: 50%;
    margin-left: 0;
  }

  .col-lg-offset-5 {
    margin-right: 41.66666667%;
    margin-left: 0;
  }

  .col-lg-offset-4 {
    margin-right: 33.33333333%;
    margin-left: 0;
  }

  .col-lg-offset-3 {
    margin-right: 25%;
    margin-left: 0;
  }

  .col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-right: 8.33333333%;
    margin-left: 0;
  }

  .col-lg-offset-0 {
    margin-right: 0%;
    margin-left: 0;
  }
}
th {
  text-align: right;
}

@media screen and (max-width: 767px) {
  .table-responsive > .table-bordered {
    border: 0;
  }

  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-right: 0;
    border-left: auto;
  }

  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-left: 0;
    border-right: auto;
  }
}
.radio label,
.checkbox label {
  padding-right: 20px;
  padding-left: auto;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: right;
  margin-right: 20px;
  margin-left: 0;
}

.radio-inline,
.checkbox-inline {
  padding-right: 20px;
  padding-left: 0;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-right: 10px;
  margin-left: 0;
}

.has-feedback .form-control {
  padding-left: 42.5px;
  padding-right: auto;
}

.form-control-feedback {
  left: 0;
  right: auto;
}

@media (min-width: 768px) {
  .form-inline .radio,
  .form-inline .checkbox {
    padding-right: 0;
    padding-left: auto;
  }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    margin-right: 0;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  left: 15px;
  right: auto;
}

.caret {
  margin-right: 2px;
  margin-left: 0;
}

.dropdown-menu {
  right: 0;
  left: auto;
  float: left;
  text-align: right;
}

.dropdown-menu.pull-left {
  left: 0;
  float: right;
  right: auto;
}

.pull-left > .dropdown-menu {
  left: 0;
  float: right;
  right: auto;
}

.navbar-nav.pull-left > li > .dropdown-menu,
.navbar-nav > li > .dropdown-menu.pull-left {
  right: auto;
  left: 0;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  float: right;
}

.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover,
.btn-group > .btn:focus,
.btn-group-vertical > .btn:focus,
.btn-group > .btn:active,
.btn-group-vertical > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-right: -1px;
  margin-left: 0px;
}

.btn-toolbar {
  margin-right: -5px;
  margin-left: 0px;
}

.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: right;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-right: 5px;
  margin-left: 0px;
}

.btn-group > .btn:first-child {
  margin-right: 0;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group > .btn-group {
  float: right;
}

.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.btn-group > .btn-group:first-child > .btn:last-child,
.btn-group > .btn-group:first-child > .dropdown-toggle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group > .btn-group:last-child > .btn:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn .caret {
  margin-right: 0;
}

.btn-group-vertical > .btn + .btn,
.btn-group-vertical > .btn + .btn-group,
.btn-group-vertical > .btn-group + .btn,
.btn-group-vertical > .btn-group + .btn-group {
  margin-top: -1px;
  margin-right: 0;
}

.input-group .form-control {
  float: right;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon:first-child {
  border-right: 1px solid #cccccc;
  border-left: 0px;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-addon:last-child {
  border-left: 1px solid #cccccc;
  border-right: 0px;
}

.input-group-btn > .btn + .btn {
  margin-right: -1px;
  margin-left: auto;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-left: -1px;
  margin-right: auto;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-right: -1px;
  margin-left: auto;
}

.nav {
  padding-right: 0;
  padding-left: auto;
}

.nav-tabs > li {
  float: right;
}

.nav-tabs > li > a {
  margin-left: auto;
  margin-right: -2px;
  border-radius: 4px 4px 0 0;
}

.nav-pills > li {
  float: right;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-right: 2px;
  margin-left: auto;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-right: 0;
  margin-left: auto;
}

.nav-justified > .dropdown .dropdown-menu {
  right: auto;
}

.nav-tabs-justified > li > a {
  margin-left: 0;
  margin-right: auto;
}

@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-radius: 4px 4px 0 0;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
.navbar-collapse {
  padding: 0;
}

.navbar-brand {
  float: right;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-right: -15px;
    margin-left: auto;
  }
}
.navbar-toggle {
  float: left;
  margin-left: 0;
  margin-right: 15px;
}
.navbar-toggle .navbar-toggle-text {
  padding-right: 0;
  padding-left: 10px;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 25px 5px 15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }

  .navbar-nav > li {
    float: right;
  }

  .navbar-nav.navbar-right:last-child {
    margin-left: -15px;
    margin-right: auto;
  }

  .navbar-nav.navbar-right.flip {
    float: left !important;
  }

  .navbar-nav.navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }
}
@media (min-width: 768px) {
  .navbar-text {
    float: right;
  }

  .navbar-text.navbar-right:last-child {
    margin-left: 0;
    margin-right: auto;
  }
}
.pagination {
  padding-right: 0;
}

.pagination > li > a,
.pagination > li > span {
  float: right;
  margin-right: -1px;
  margin-left: 0px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  margin-right: -1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pager {
  padding-right: 0;
  padding-left: none;
}

.pager .next > a,
.pager .next > span {
  float: left;
}

.pager .previous > a,
.pager .previous > span {
  float: right;
}

.nav-pills > li > a > .badge {
  margin-left: 0px;
  margin-right: 3px;
}

.alert-dismissable {
  padding-left: 35px;
  padding-right: 15px;
}

.alert-dismissable .close {
  top: -2px;
  right: 0;
  left: 21;
}

.progress-bar {
  float: right;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

.media > .pull-left {
  margin-right: 10px;
}

.media > .pull-left.flip {
  margin-right: 0;
  margin-left: 10px;
}

.media > .pull-right {
  margin-left: 10px;
}

.media > .pull-right.flip {
  margin-left: 0;
  margin-right: 10px;
}

.media-list {
  padding-right: 0;
  padding-left: auto;
  list-style: none;
}

.list-group {
  padding-right: 0;
  padding-left: none;
}

.list-group-item > .badge {
  float: left;
}

.list-group-item > .badge + .badge {
  margin-ight: 5px;
  margin-left: 0;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 0;
}

.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
}

.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
}

.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-right: 0;
  border-left: none;
}

.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: none;
  border-left: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object {
  right: 0;
  left: none;
}

.close {
  float: left;
}

.modal-footer {
  text-align: left;
}

.modal-footer .btn + .btn {
  margin-left: 0;
  margin-right: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-right: -1px;
  margin-left: 0;
}

.modal-footer .btn-block + .btn-block {
  margin-right: 0;
  margin-left: none;
}

.popover {
  right: 0;
  left: none;
  text-align: right;
}

.popover.top > .arrow {
  right: 50%;
  left: none;
  margin-right: -11px;
  margin-left: 0;
}

.popover.top > .arrow:after {
  margin-right: -10px;
  margin-left: 0;
}

.carousel-inner > .item {
  -webkit-transition: 0.6s ease-in-out right;
  -o-transition: 0.6s ease-in-out right;
  transition: 0.6s ease-in-out right;
}

.carousel-inner > .active {
  right: 0;
}

.carousel-inner > .next {
  right: 100%;
  left: 0;
}

.carousel-inner > .prev {
  right: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  right: 0;
}

.carousel-inner > .active.right {
  left: -100%;
}

.carousel-inner > .active.left {
  right: 100%;
}

.carousel-control {
  right: 0;
  bottom: 0;
}

.carousel-control.left {
  right: auto;
  left: 0;
}

.carousel-control.right {
  left: auto;
  right: 0;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  right: auto;
  margin-right: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  left: auto;
  margin-left: -10px;
}

.carousel-indicators {
  right: 50%;
  left: 0;
  margin-right: -30%;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: 0;
    margin-right: -15px;
  }

  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-left: 0;
    margin-right: -15px;
  }

  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
}
.pull-right.flip {
  float: left !important;
}

.pull-left.flip {
  float: right !important;
}

/* WP Widget */
.sidebar .widget_recent_entries ul li,
.sidebar .widget_recent_comments ul li,
.sidebar .widget_archive ul li,
.sidebar .widget_categories ul li,
.sidebar .widget_meta ul li,
.sidebar .widget_rss ul li,
.sidebar .widget_pages ul li,
.sidebar .widget_calendar ul li {
  padding-left: auto;
  padding-right: 30px;
}
.sidebar .widget_recent_entries ul li::before,
.sidebar .widget_recent_comments ul li::before,
.sidebar .widget_archive ul li::before,
.sidebar .widget_categories ul li::before,
.sidebar .widget_meta ul li::before,
.sidebar .widget_rss ul li::before,
.sidebar .widget_pages ul li::before,
.sidebar .widget_calendar ul li::before {
  content: "\f177";
  left: auto;
  right: 0;
}

.sidebar .widget.widget_nav_menu .menu li.current-menu-item a::after {
  content: "\f104";
  right: auto;
  left: 25px;
}

.topbar .widget-icon-box .fa {
  margin-right: 0;
  margin-left: 5px;
}

/* Custom Widgets RTL */
@media (min-width: 992px) {
  .topbar .tagline {
    float: right;
  }
  .topbar .widgets {
    float: left;
  }
  .topbar .widget .fa {
    margin-right: 0;
    margin-left: 5px;
  }
  .topbar .widget::before {
    -webkit-transform: skew(25deg);
    -ms-transform: skew(25deg);
    transform: skew(25deg);
  }
  .topbar .widget:first-of-type {
    padding-right: 0;
    margin-right: 0;
  }
  .topbar .widget:first-of-type::before {
    display: none;
  }
  .topbar .widget:last-of-type {
    padding-right: 20px;
    margin-right: 20px;
  }
  .topbar .widget:last-of-type::before {
    display: block;
    -webkit-transform: skew(25deg);
    -ms-transform: skew(25deg);
    transform: skew(25deg);
  }

  .navbar-brand {
    padding: 0 30px 0 0;
  }

  .navigation .main-navigation {
    left: 0;
    right: auto;
    padding: 0 60px 0 30px;
  }
  .navigation .main-navigation .sub-menu {
    left: auto;
    right: 0;
  }
  .navigation .main-navigation .sub-menu > li.menu-item-has-children > a::after {
    content: "\f0d9";
    right: auto;
    left: 15px;
  }
  .navigation .main-navigation .sub-menu > li > .sub-menu {
    right: 100%;
  }
  .navigation .main-navigation::before {
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 90px 0;
    border-color: transparent #ffffff transparent transparent;
  }
}
.main-navigation .nav-toggle-mobile-submenu {
  right: auto;
  left: 0;
}
.main-navigation > li:first-of-type > a::before {
  display: block;
}
.main-navigation > li:last-of-type > a::before {
  display: none;
}
@media (max-width: 992px) {
  .main-navigation .sub-menu > li .sub-menu li > a {
    padding-left: 0;
    padding-right: 55px;
  }
}

@media (min-width: 992px) {
  .header-wide .main-navigation {
    float: left;
  }
  .header-wide .main-navigation::after {
    right: auto;
    left: -100%;
  }
}

.header-transparent .main-navigation {
  float: left;
  padding-left: 0;
}

.widget ul {
  padding-right: 0;
}

.esg-grid a {
  display: inline-table;
}

.btn .fa {
  padding-right: 0;
  padding-left: 15px;
}

.jumbotron.carousel .carousel-text.left {
  text-align: right;
}

a.more {
  display: table;
}
a.more::before {
  content: "\f104";
  right: auto;
  left: -13px;
}
a.more:hover::before {
  right: auto;
  content: "\f104";
}

.cta-banner .cta-banner-text {
  float: right;
}
.cta-banner .cta-banner-buttons {
  float: left;
}

.post-item .vertical-center span {
  display: inline-table;
}
.post-item .label-wrap {
  right: 30px;
}
.post-item .label-wrap.label {
  display: table-cell;
  margin-left: 2px;
}

.block-posts .widget-title a {
  float: left;
}

.w-footer .icon-box.box-block,
.content .icon-box.box-block {
  text-align: right;
}

.w-footer .icon-box.box-inline .text,
.content .icon-box.box-inline .text {
  margin-left: 0;
  margin-right: 65px;
}
.w-footer .icon-box.box-inline .fa,
.content .icon-box.box-inline .fa {
  right: 40px;
}

.w-footer a.icon-box.box-inline::after,
.content a.icon-box.box-inline::after {
  content: "\f104";
  right: auto;
  left: 25px;
}

.w-footer .icon-box.icon-small .fa,
.content .icon-box.icon-small .fa {
  margin-right: 0;
  margin-left: 20px;
}

.testimonials .testimonial-quote {
  padding: 40px 90px 40px 40px;
}
.testimonials .testimonial-quote::before {
  left: auto;
  right: 20px;
  text-align: left;
}
.testimonials .testimonial-quote::after {
  left: auto;
  right: 25px;
}
.testimonials .testimonial-control {
  float: left;
}
.testimonials .testimonial-control::before {
  height: 49px;
}
.testimonials .testimonial-control.right::before {
  right: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.testimonials .testimonial-control.left::before {
  left: 0;
  right: auto;
  border-right: none;
}

.opening-times ul li {
  text-align: right;
}
.opening-times ul span.right {
  float: left;
}

.counter.count-box .count-icon {
  float: right;
}
.counter.count-box .count-text {
  margin-left: 0;
  margin-right: 70px;
}

.cta-button::before,
.brochure-box::before {
  right: auto;
  left: 20px;
  content: "\f0d9";
}
.cta-button .fa,
.brochure-box .fa {
  margin-right: 0;
  margin-left: 15px;
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.footer .widget_nav_menu ul {
  padding-right: 0;
}
.footer .widget_nav_menu ul li::before {
  content: "\f177";
  padding-right: 0;
  padding-left: 13px;
}

.block-posts .widget-title a .fa {
  padding-left: 0;
  padding-right: 10px;
}
.block-posts .widget-title a .fa::before {
  content: "\f104";
}

.bottom-footer .bottom-left {
  text-align: right;
}
.bottom-footer .bottom-right {
  text-align: left;
}

.breadcrumbs {
  text-align: right;
}
@media (min-width: 480px) {
  .breadcrumbs a {
    padding: 15px 0px 15px 40px;
  }
  .breadcrumbs a::after {
    right: auto;
    left: 18px;
  }
}

.dropcap1 {
  float: right;
  margin: 0 0 5px 13px;
}

.dropcap-wrap .dropcap {
  margin-right: 0;
  margin-left: 20px;
}
.dropcap-wrap .dropcap-title {
  width: 100%;
}

.panel-group .accordion-toggle::before {
  right: auto;
  left: 30px;
}

.alignnone {
  margin: 2px 0 20px 30px;
}

.wpcf7-text, .wpcf7-textarea, .wpcf7-select, .wpcf7-date {
  direction: rtl;
}
.wpcf7-select {
  background-position: 7% center;
}
.wpcf7-acceptance input {
  left: auto;
  right: 1px;
}
.wpcf7-acceptance span {
  margin-left: 0;
  margin-right: 20px;
}
.wpcf7-checkbox .wpcf7-list-item input {
  float: right;
  margin: 4px 0 0 10px;
}
.wpcf7-submit {
  float: right;
}
.wpcf7 .info-text {
  display: inline;
  margin: 0 25px 0 0;
}
.wpcf7 div > span {
  width: 100%;
  text-align: right;
  display: block;
}
.wpcf7 span.wpcf7-list-item {
  margin: 0;
}

.project-navigation a .fa {
  display: none;
}
.project-navigation a:first-of-type {
  float: right;
}
.project-navigation a:last-of-type {
  float: left;
}

.post .post-left-meta {
  float: right;
  padding-right: 0;
  padding-left: 20px;
}

.post-inner .post-content {
  margin-left: 0;
  margin-right: 100px;
}

.single .post-content {
  margin-right: 0;
}

.social-sharing-buttons {
  text-align: right;
}
.social-sharing-buttons span {
  float: right;
}
.social-sharing-buttons a {
  display: inline-table;
}

.comments-area .comment-list {
  padding-right: 0;
  padding-left: 30px;
}
.comments-area .comment-list .comment-avatar {
  float: right;
}
.comments-area .comment-list li .comment-header .comment-time {
  float: left;
}
.comments-area .comment-list li .comment-inner {
  margin-left: 0;
  margin-right: 100px;
}
.comments-area .comment-list li .comment-inner::after {
  left: auto;
  right: -20px;
  border: solid transparent;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #f9f9f9;
  border-width: 10px;
  margin-top: -10px;
}

.woocommerce nav.woocommerce-pagination {
  text-align: right;
}
.woocommerce nav.woocommerce-pagination ul li {
  border-left: none;
}
.woocommerce nav.woocommerce-pagination ul li .page-numbers {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .woocommerce ul.products li.product {
    float: right;
    margin: 0 0 50px 2.5%;
  }
}
.woocommerce ul.products li.product .onsale {
  left: auto;
  right: 25px;
}
.woocommerce ul.products li.product.last {
  margin-left: 0;
}
.woocommerce #reviews #comments ol.commentlist {
  padding-right: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin-left: 0;
  margin-right: 50px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  float: right;
  right: 0;
}
.woocommerce .widget_product_categories .product-categories li > span {
  right: auto;
  left: 30px;
}

body.header-sidebar {
  margin-left: auto;
  margin-right: 290px;
}
body.header-sidebar .header-sidebar {
  left: auto;
  right: 0;
}
body.header-sidebar .header-sidebar .navbar-collapse {
  padding: 0;
}
@media (min-width: 992px) {
  body.header-sidebar .header-sidebar .sub-menu {
    left: auto;
    right: 100%;
  }
}

@media (min-width: 992px) {
  body.header-overlay .header .header-overlay-middle .widgets {
    float: left;
  }
}
@media (min-width: 992px) {
  body.header-overlay .header .header-overlay-middle .widgets .widget {
    padding-left: 0;
    padding-right: 40px;
  }
}
@media (min-width: 992px) {
  body.header-overlay .header .header-overlay-middle .widgets .widget:first-of-type {
    padding-right: 0;
  }
}
body.header-overlay .header .header-overlay-middle .widgets .widget-icon-box i {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
body.header-overlay .header .main-navigation .sub-menu > li > a {
  white-space: unset;
}
@media (min-width: 992px) {
  body.header-overlay .header .main-navigation .sub-menu {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .scrollToTop {
    right: auto;
    left: 20px;
  }

  body.header-sidebar .header-sidebar .main-navigation > li.menu-item-has-children::after {
    right: auto;
    content: "\f0d9";
  }

  .header-sidebar .main-navigation > li:hover > a::after,
  .header-sidebar .main-navigation > li:focus > a::after,
  .header-sidebar .main-navigation > li.current-menu-item > a::after,
  .header-sidebar .main-navigation > li.current-menu-item > a:hover::after,
  .header-sidebar .main-navigation > li.current-menu-parent > a::after,
  .header-sidebar .main-navigation > li.current-menu-parent > a:hover::after {
    left: auto;
    right: 0;
  }

  .header-sidebar .main-navigation > li > a {
    padding: 12px 40px 12px 60px;
  }

  .header-sidebar .main-navigation > li.menu-item-has-children::after {
    right: auto;
    left: 40px;
    content: "\f0d9";
  }
}
