/*--------------------------------------------------------------
Header Overlay
--------------------------------------------------------------*/

body.header-overlay {

	.navbar-brand {

		@media (min-width: $screen-md) {
			padding: 12px 0;
		}
	}

	.navbar-collapse {

		&.in {

			.main-navigation {

				@media (max-width: $screen-md) {
					margin-bottom: 20px;
				}
			}
		}
	}

	.navigation {
		background: transparent;
	}

	// is sticky
	&.is-sticky-nav {

		.header {

			.navigation {

				&.is-sticky {

					@media (min-width: $screen-md) {
						width: 940px;
					}

					@media (min-width: $screen-lg) {
						width: 1140px;
					}
				}
			}
		}
	}

	.topbar {

		.tagline,
		.widget {

			@media (max-width: $screen-md) {
				padding: 2px 0;
			}
		}

		.widget {
			border: none;
		}
	}

	.header {

		.container {

			> .navbar-header {
				position: relative;
				margin-left: 0;
				margin-right: 0;
			}
		}

		.header-overlay-middle {
			position: relative;

			.widgets {

				@media (min-width: $screen-md) {
					float: right;
					display: table;
					padding: 36px 0;
				}

				.widget {

					@media (max-width: 991px) {
						padding: 8px 0;
						border-top: 1px solid rgba(255, 255, 255, 0.1);
					}

					@media (min-width: $screen-md) {
						display: inline-block;
						vertical-align: middle;
						padding-left: 40px;
					}

					&:first-of-type {
						padding-left: 0;
					}
				}

				.widget-icon-box {

					i {
						float: left;
						margin-right: 10px;
						font-size: 20px;
						-webkit-transition: color 100ms ease;
						transition: color 100ms ease;

						@media (max-width: 991px) {
							min-width: 22px;
							text-align: center;
						}
					}

					.title {
						display: inline-block;
						font-size: 16px;
						margin-bottom: 0;

						@media (min-width: $screen-md) {
							margin-bottom: 3px;
						}
					}

					.subtitle {
						display: inline-block;
						font-size: 14px;

						@media (min-width: $screen-md) {
							display: block;
						}
					}

					.icon-box {
						position: relative;

						&.icon-big {

							@media (min-width: $screen-md) {
								padding-left: 50px;
							}

							i {

								@media (min-width: $screen-md) {
									position: absolute;
									left: 0;
									top: 5px;
									width: 35px;
									font-size: 34px;
									text-align: left;
								}
							}

							.title {

								@media (min-width: $screen-md) {
									display: inherit;
								}
							}

							.subtitle {

								@media (min-width: $screen-md) {
									display: inherit;
								}
							}
						}
					}

					a.icon-box {
						color: inherit;
						display: block;
					}
				}

				.social-icons {

					a {
						padding: 0 2px;
						width: auto;
						height: auto;
						color: #a5a5a5;
						line-height: 0;
						background: transparent;
					}
				}
			}
		}

		.main-navigation {
			margin: 0;

			@media (min-width: $screen-md) {
				position: relative;
				padding: 0 30px;
				text-align: center;
			}

			&::before {

				@media (min-width: $screen-md) {
					display: none;
				}
			}

			> li {

				> a {

					@media (min-width: $screen-md) {
						padding: 34px 25px;
						line-height: 25px;
					}

					@media (min-width: $screen-lg) {
						padding: 32px 30px 33px 30px;
					}
				}
			}

			.sub-menu {

				@media (min-width: $screen-md) {
					text-align: left;
				}
			}
		}
	}
}