/*
Theme Name:     The Landscaper Child Theme
Theme URI: 		http://demo.qreativethemes.com/thelandscaper/
Description:    Child theme for The Landscaper
Author:         QreativeThemes
Author URI:   	http://themeforest.net/user/QreativeThemes/portfolio
Template:       the-landscaper
Version:        1.1
*/


/* add your custom CSS code below */
.header .navigation{
    border: none;
    box-shadow: none;
}
.post-thumbnail {
    display: block;
    text-align: center;
}
.post-thumbnail img{
    display: inline-block;
}