// Primary Color
$primary-color: #a2c046;

// Most Used Colors
$white-color: #ffffff;
$light-gray-color: #f2f2f2;
$dark-color: #464646;
$text-color: #a5a5a5;
$darker-text-color: #999999;

// Content Font
$primary-font: "Roboto", sans-serif;

// Headings Font
$secondary-font: "Roboto Slab", serif;

// Transitions
$primary-transition: all 100ms ease-out;

// Bootstrap Font Path (don't edit variable name)
$icon-font-path: "bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// FontAwesome Path (don't edit variable name)
$fa-font-path: "bower_components/fontawesome/fonts";

// Nav collapse breakpoint (don't edit variable name)
$grid-float-breakpoint: 992px;
