/*
Theme Name: The Landscaper
Theme URI: http://demos.qreativethemes.com/thelandscaper
Author: QreativeThemes
Author URI: http://themeforest.net/user/QreativeThemes/portfolio
Description: The Landscaper - A WordPress theme for lawn, landscaping and gardening companies, by QreativeThemes.
Version: 1.7.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: the-landscaper-wp
Tags: custom-background, custom-colors, custom-menu, featured-images, sticky-post, theme-options, rtl-language-support, translation-ready
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
01 -------- Theme Variables
02 -------- Normalize
03 -------- Typography
04 -------- Alignments
05 -------- Shortcodes
06 -------- Buttons
07 -------- Forms
08 -------- Topbar
09 -------- Header
10 -------- Navigation
11 -------- Jumbotron
12 -------- Page header
13 -------- Breadcrumbs
14 -------- WordPress widgets
15 -------- Custom widgets
16 -------- Paginations
17 -------- Single gallery (portfolio) page
18 -------- Blog Posts
19 -------- Comments & respond form
20 -------- Gallery + captions
21 -------- Footer
22 -------- Search & 404 page
23 -------- Gutenberg
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 01 - Variables
--------------------------------------------------------------*/

@import "vars";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

/*--------------------------------------------------------------
# 02 - Normalize
--------------------------------------------------------------*/

body {
	font-family: $primary-font;
	line-height: 1.6;
	color: $text-color;
	text-rendering: optimizeLegibility;

	&.boxed {

		> .layout-boxed {
			max-width: 100%;
			margin: 0 auto;
			overflow: hidden;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

			@media (min-width: $screen-sm) {
				width: ($container-sm + 80px);
			}
			@media (min-width: $screen-md) {
				width: ($container-md + 80px);
			}
			@media (min-width: $screen-lg) {
				width: ($container-lg + 80px);
			}
		}
	}

	.layout-boxed {
		position: relative;
		overflow-x: hidden;
	}
}

@import "partials/normalize";

/*--------------------------------------------------------------
# 03 - Typography
--------------------------------------------------------------*/
@import "partials/typography";

/*--------------------------------------------------------------
# 04 - Alignments
--------------------------------------------------------------*/
@import "partials/alignments";

/*--------------------------------------------------------------
# 05 - Shortcodes
--------------------------------------------------------------*/
@import "partials/shortcodes";

/*--------------------------------------------------------------
# 06 - Buttons
--------------------------------------------------------------*/
@import "partials/buttons";

/*--------------------------------------------------------------
# 07 - Forms
--------------------------------------------------------------*/
@import "partials/forms";

/*--------------------------------------------------------------
# 08 - Topbar
--------------------------------------------------------------*/
@import "partials/topbar";

/*--------------------------------------------------------------
# 09 - Header
--------------------------------------------------------------*/
@import "partials/header";

/*--------------------------------------------------------------
# 10 - Navigation
--------------------------------------------------------------*/
@import "partials/main_navigation";

/*--------------------------------------------------------------
# 11 - Jumbotron
--------------------------------------------------------------*/
@import "partials/jumbotron";

/*--------------------------------------------------------------
# 12 - Page header
--------------------------------------------------------------*/
@import "partials/page_header";

/*--------------------------------------------------------------
# 13 - Breadcrumbs
--------------------------------------------------------------*/
@import "partials/breadcrumbs";

/*--------------------------------------------------------------
# 14 - WordPress widgets
--------------------------------------------------------------*/
@import "partials/wp_widgets";

/*--------------------------------------------------------------
# 15 - Custom widgets
--------------------------------------------------------------*/
@import "partials/custom_widgets";

/*--------------------------------------------------------------
# 16 - Pagination
--------------------------------------------------------------*/
@import "partials/pagination";

/*--------------------------------------------------------------
# 17 - Single Gallery
--------------------------------------------------------------*/
@import "partials/single_gallery";

/*--------------------------------------------------------------
# 18 - Blog
--------------------------------------------------------------*/
@import "partials/blog";

/*--------------------------------------------------------------
# 19 - Comments
--------------------------------------------------------------*/
@import "partials/comments";

/*--------------------------------------------------------------
# 20 - Gallery
--------------------------------------------------------------*/
@import "partials/gallery";

/*--------------------------------------------------------------
# 21 - Footer
--------------------------------------------------------------*/
@import "partials/footer";

/*--------------------------------------------------------------
# 22 - Search page
--------------------------------------------------------------*/
@import "partials/search_page";

/*--------------------------------------------------------------
# 23 - 404 Page
--------------------------------------------------------------*/
@import "partials/404_page";

/*--------------------------------------------------------------
# 24 - Gutenberg
--------------------------------------------------------------*/
@import "partials/gutenberg";