/* header */
.topbar{
    height: 35px;
}
.navbar-brand{
    padding: 19px !important;
}
.navbar-brand img{
    width: 170px;
}
.navigation{
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
}
.main-navigation{
    background-color: #ff8833 !important;
}
/* carousel */
#slides{
    position: relative;
}
#slides a.carousel-control .icon-prev, #slides a.carousel-control .icon-next{
    font-size: 60px;
}
#bottom-slide{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
}
/* about us */
#about-us img{ width: 100%; }
#text-about-us{
    padding: 40px 40px 0 130px;
    box-sizing: border-box;
}
#logo-circle{
    padding: 110px 130px 30px 20px;
    box-sizing: border-box;
}
#logo-circle img{
    width: 100%;
}
/* contect */
.home .content{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    height: 280px;
}
.home .content:hover{ box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5); }
.content-title{
    padding: 10px 20px;
    font-size: 1.5rem;
    height: 80px;
    overflow: hidden;
}
.flexslider .slides > li{
    padding-bottom: 20px !important;
    box-sizing: border-box;
}
/* products */
#bg-product{
    width: 100%;
}
.products-content{
    top: 100px;
}
.products-content img#product-head{
    width: 250px;
    display: block;
    margin-left: 450px;
}
.read-more-product a{
    display: block;
    margin: 0 auto 20px;
    padding: 6px;
    width: 70%;
    border: 2px solid #badd51;
    border-radius: 15px;
    color: #709e3b;
    text-shadow: none;
}
/* news */
#news{
    clear: both;
}
#news #bg-news{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
#news-head{
    text-shadow: 2px 2px #000000;
}
.news-content{
    top: 50px;
    padding: 0 125px;
}
.read-more-news{
    position: absolute;
    right: 0;
}
.read-more-news a{
    font-size: 19px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}
.read-more-news a:hover{
    color: #ff8833;
    text-shadow: 1px 1px 3px #000000;
}
/* contact */
#contact{
    clear: both;
}
#contact .row{
    padding: 50px 100px 20px 100px;
    text-align: center;
}
.contact-info{
    padding: 0;
    padding-top: 30px;
    color: #464646;
}
.contact-info img{
    margin-bottom: 10px;
}
.contact-info a{
    color: #464646;
}
#contact .btn{
    padding: 5px;
}
#contact-btm{
    margin: 0 auto;
    display: block;
}
/* footer */
.nav-footer{
    background-color: #ff8833;
    padding: 15px 0;
    margin: 0;
    text-align: center;
}
.nav-footer ul{
    list-style: none;
    margin: 0;
}
.nav-footer ul li{
    display: inline;
    margin: 0 20px;
}
.nav-footer a{
    color: #ffffff;
    font-weight: 600;
}
.logo-footer{
    padding: 10px 20px;
    text-align: center;
}
.logo-footer img{
    width: 200px;
}
@media only screen and (min-width: 992px){
    .products-relative, .news-relative{ position: relative; }
    .products-content{ position: absolute; }
    #product-list{
        margin: 45px 125px !important;
        width: 890px;
    }
    .news-content{
        position: absolute;
        width: 80%;
    }
    #news-list{ margin: 40px auto !important; }
    .read-more-news{ right: 15%; }
}
@media only screen and (max-width: 991px){
    .navigation{ width: 100% !important; }
    .navigation button{ background-color: #ff8833; }
    .navigation button:hover{ background-color: #ff7411; }
    #navbar ul li a{
        border-color: #ff7a1c;
        background-color: #ff8833;
    }
    #navbar ul li a:hover{ background-color: #ff7411; }
    #text-about-us{
        padding: 40px;
        padding-bottom: 0;
    }
    #logo-circle{
        padding: 0 40px;
        text-align: center;
    }
    #logo-circle img{ width: 40%; }
    .products-content{ margin-top: 30px; }
    .products-content img#product-head{ margin: 0 auto; }
    #product-list{
        margin-top: 45px;
        margin-bottom: 0;
        width: 100%;
    }
    .read-more-product a{
        margin-bottom: 40px;
        width: 90%;
    }
    .news-relative{ position: relative; }
    .news-content{
        position: absolute;
        padding: 0;
        width: 100%;
    }
    #news-list{
        width: 85%;
        margin: 40px 0 !important;
    }
    .read-more-news{ right: 15%; }
    .form-contact{ margin-top: 30px; }
}
@media only screen and (max-width: 768px){
    .navbar-brand{
        padding: 10px !important;
        margin-top: 5px;
    }
    #text-about-us h3{ text-align: center; }
    #logo-circle img{ width: 50%; }
    .products-content img#product-head{ margin: 0 auto; }
    .news-content{
        padding: 0;
        padding-right: 10px;
    }
    #news-head{
        margin: 0 auto;
        display: block;
    }
    #news-list{
        width: 95%;
        margin: 30px 0 !important;
    }
    .read-more-news{ right: 10%; }
    #contact .row{ padding: 30px; }
}