
/* Widget Social Links */
.qt-meta-box {
	padding: 1px 15px 15px 15px;
	margin: 20px 0px;
	background-color: #f9f9f9;
	border: 1px solid #dfdfdf;
}

/* Widget Testimonials */
.js-remove-testimonial {
	text-decoration: none;
}
.js-remove-testimonial span {
	margin-right: 5px;
}
.testimonial-widget-child {
	padding: 10px 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	border: 1px solid #dfdfdf;
}

textarea {
	max-width: 100%;
}

.so-content input[type=text],
.so-content input[type=number],
.so-content .widefat {
	box-shadow: none;
	padding: 5px 10px;
	border-radius: 2px;
	border: 1px solid #d3d3d3;
}

.so-content input[type=checkbox] + label {
	margin-bottom: 0;
}

.so-content label {
	margin-bottom: 6px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color: #464646;
}

.so-content select {
	min-width: 200px;
}

/* TGMPA plugin notice */
#setting-error-tgmpa,
.subsubsub {
	float: none;
}

/* ACF fields CSS */
body .acf-fields > .acf-field { 
	padding: 30px;
}
body .acf-fields > .acf-field[data-name="subtitle"] {
	padding: 5px 12px;
}
body .acf-tab-wrap.-left .acf-tab-group li a {
	padding: 14px 12px;
}
body .acf-field .acf-label label {
	font-size: 14px;
}
body .acf-field .acf-label p {
	font-size: 12px;
	font-style: normal;
}
body .acf-field:not(.acf-field-repeater) select {
	width: 275px;
}
body .acf-field-repeater .acf-field select {
	width: auto;
}

/* !important to make overwrite default styles */
body .acf-fields.-sidebar {
	padding-left: 180px!important;
}
body .acf-fields.-sidebar:before {
	width: 180px!important;
}
body .acf-tab-wrap.-left .acf-tab-group {
	width: 180px!important;
}

.acf-field-55a2ca8d285f0 .acf-input {
	margin-bottom: 15px;
}

body.block-editor-page .acf-field-55a2ca8d285f0 .acf-input {
	margin-bottom: 10px
}

body.block-editor-page .acf-input-prepend,
body.block-editor-page .acf-input-append {
	height: 28px;
}

/* Widgets */
#topbar-widgets p.icon-layout {
	display: none;
}

/* Theme customizer controls */
li.customize-control {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
}
li.customize-control:last-of-type {
	padding-bottom: 0;
	border-bottom: none;
}
li.customize-control .description {
	margin-bottom: 15px;
	margin-top: -3px;
}
#customize-control-qt_custom_css textarea {
	pointer-events: none;
	background: #eeeeee;
}

/* Custom admin notice for plugin update */
.wrap .notice-qt {
	padding: 20px 30px;
	margin: 20px 0 50px 0;
}
.notice-qt h1 {
	font-size: 26px;
	font-weight: bold;
}
.notice-qt p {
	font-size: 15px;
}